{% extends "base.html" %}
{% block title %}Delete PERSONNE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('personnes_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Personne</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date de naissance</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_personne_delete_html" value="{{ row.id_Personne }}"></td>
                            <td>{{ row.NomPers }}</td>
                            <td>{{ row.PrenomPers }}</td>
                            <td>{{ row.DateNaissPers }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}