{% extends "base.html" %}
{% block title %} Ajouter une PERSONNE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="#279989">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Clavioter une nouvelle PERSONNE</H1> <br>
                Nom <input type = "text" name= "name_personne_html" /> <br>
                Prenom <input type = "text" name= "firstname_personne_html" /> <br>
                Date de naissance <input type = "text" name= "datenaissance_personne_html" /> <br>
                <input type = "submit" value="Enregistrer la personne">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}