{% extends "base.html" %}
{% block title %} Afficher PERSONNES MAILS {% endblock %}
{% block body %}
<h1>Tout ce qui concerne la table intermédiaire fait partie de l'exercice suivant</h1>
<p>En plus vous devez avoir beaucoup de travail pour votre projet personnel pour ce module 104. <br>Il faut que les opérations CRUD (Create Read Update Delete) soient déjà fonctionnelles sur toutes vos tables "externes" aux tables intermédiaires.</p>
<br>
<p>Petit conseil : ne pas encore faire de design de la présentation des données. L'important c'est d'abord, de bien gérer les données et les erreurs. Cela reste un "petit" conseil.</p>

{% endblock %}

